/* base.css*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
}

main {
    padding: 24px 0 64px;
    background: #FFFFFF;
}


.container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 16px;
}

button, .btn {
    appearance: none;
    border: 1px solid #798645;
    background: #798645;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover, .btn:hover {
    background: #626F47;
}

.btn--ghost {
    background: transparent;
    color: #626F47;
    border: 1px solid #E6E9DF;
}

.btn--ghost:hover {
    background: #EFF2E6;
    color: #48553A;
    border-color: #9AA574;
}




.pagination{
    margin-top: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination .page-link{
    display: inline-block;
    padding: 10px 14px;
    border-radius: 10px;
    background: #FFFFFF;
    color: #798645;
    border: 1px solid #626F47;
    text-decoration: none;
    font-weight: 700;
}

.pagination .page-link:hover{
    background: #FAFAF6;
    color: #626F47;
}

.pagination .page-link.is-disabled{
    opacity: .5;
    pointer-events: none;
}

.pagination .page-link.is-current{
    background: #798645;
    color: #FFFFFF;
    border-color: #798645;
}