/* =========================
   Base reset & acessibility
========================= */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
}

main{
    padding: 24px 0 64px;
    background: #FFFFFF;
}

.container{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 16px;
}

button, .btn{
    appearance: none;
    border: 1px solid #798645;
    background: #798645;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover, .btn:hover{
    background: #626F47;
}

/*================= START TOP HEATER============= */
/*Is just a slim row above the main header*/
.site-header .top-header {
    position: static;
    background: #FFFFFF;
    color: #48553A;
    border-bottom: 1px solid #E6E9DF;   /*subtle border divider*/
}

.site-header .top-header-row {
    max-width: 1152px;
    margin: 0 auto;                     /* center horizontally */
    padding: 6px 16px;                  /* spacing inside */
    display: flex;
    align-items: center;
    justify-content: space-between;     /* message left, action right */
    gap: 12px;
}

.site-header .top-header-msg {
    font-size: 14px;
}

.site-header .top-header-actions {
    display: flex;
    align-items: center;
    gap: 10px;              /* space between social icons */
}

.site-header .icon-link img{
    display: block;
}

/*================= FINISH TOP HEATER============= */

/*================= START HEADER============= */

/*The whole header stays fixed on top when scrlling*/
.site-header {
    position: sticky;
    top: 0;/* touches the top of the window */
    z-index: 1000;/* sits above the content*/
    background: #FFFFFF;
    color: #232A23;
}

.site-header .main-header {
    background-color: #FFFFFF;
}

.site-header .header-row {
    display: grid;
    grid-template-columns: auto 1fr auto;/* three columns: logo, nav, actions */
    align-items: center;
    gap: 16px;/* space between columns */
}

.site-header .header-row--search{
    max-width: 1152px;
    margin: 0 auto;
    padding: 12px 16px;
}

/* Logo sizing*/
.brand .logo {
    height: 90px;/* fixed height */
    width: auto;/* automatic width to maintain aspect ratio */
    display: block;
}

/*=== Search bar ===*/

.site-header .site-search {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
    background: #FFFFFF;
    border: 2px solid #E6E9DF;
    border-radius: 999px;           /* pill shape */
}

.site-header .site-search input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 12px;
    background: transparent;
    color: #232A23;
}

.site-header .site-search button {
    border: none;
    border-radius: 999px;
    background: #798645;
    color: #FFFFFF;
    padding: 10px 14px;
    display: grid;
    cursor: pointer;
    place-items: center;
}

.site-header .site-search button:hover {
    background: #626F47;
}

/*=== Header Action (account, wishlist and cart)*/
.site-header .header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-header .header-actions .icon-btn{
    position: relative;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #E6E9DF;
    border-radius: 999px;
    background: #FFFFFF;
    color: #232A23;
}

.site-header .header-actions .icon-btn:hover{
    background: #FAFAF6;
}

.site-header .header-actions .icon-btn .badge {
    position: absolute;
    top: -6px;
    right: -6px;
    min-width: 18px;
    height: 18px;
    padding: 0 5px;
    border-radius: 999px;
    background: #798645;
    color: #FFFFFF;
    font-size: 11px;
    display: grid;
    place-items: center;
}

.header-actions .total{
    margin-left: 6px;
    font-weight: 700;
    color: #232A23;
}

/*=== Navegation Bar ===*/
.site-header .main-nav-bar {
    grid-column: 1 / -1; /*Make the nav span full width of the grid below the row*/
    border-bottom: 1px solid #E6E9DF;
}

/* keep nav content aligned with page */
.site-header .main-nav-bar .container{ 
max-width: 1152px;
margin: 0 auto;
padding: 0 16px;
}

.site-header .main-nav-bar .main-nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-header .main-nav-bar .main-nav-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 22px;
}

.site-header .main-nav-bar .main-nav-list ul li{
    display: inline-block;
    padding: 0;
    margin: 0;

}

.site-header .main-nav-bar .main-nav-list ul li a {
    display: inline-block;
    color: #232A23;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 0;
    content: none;
}

.site-header .main-nav-bar .main-nav-list ul li a:hover{
    color: #626F47;
    outline: none;
}
/*=== To highlight the page being accessed. */
.site-header .main-nav-bar .main-nav-list a[aria-current="page"] {
    color: #626F47;
    text-decoration: underline #626F47;
    text-underline-offset: 3px;
    font-weight: 800;
}

/*================= FINISH HEADER============= */



/*================= START FOOTER============= */

.hdo-footer {
    background: #626F47;
    color: #f2f4ec;
}

/* 
I used ".hdo-footer .footer-container" to keep the style limited to the footer. 
This avoids conflicts if ".footer-container" appears in other parts of the site 
and makes the hierarchy clearer. 
*/
.hdo-footer .footer-container {
    width: 100%;
    margin-inline: auto;    /* No space on top/bottom, but centered on the sides. */
    padding: 28px 16px;
}

/* The row organizes the footer content.
I use flexbox in column direction to keep everything centered vertically,
and gap to control the space between the groups. */
.hdo-footer .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;    /* center all itens horizontally */
    gap: 18px;              /* space between links and credits */
    text-align: center;
}

.hdo-footer .footer-links {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 12px 28px;
}

.hdo-footer .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hdo-footer .footer-links ul li {
    display: inline;
    margin: 0 10px;
}

.hdo-footer .footer-links ul li a {
    color: #EAEFE0;
    text-decoration: none;
    font-size: 16px;
}

.hdo-footer .footer-links ul li a:hover {
    color: #FFFFFF;
}

.hdo-footer .developer {
    font-size: 12px;
    color: #EAEFE0;
    line-height: 1.6;                   /*space bewtween lines*/
    letter-spacing: 1px;                /*space between letters*/
}
/*================= FINISH STYLE THE FOOTER ============= */

/*================= START CONTACT PAGE ============= */
/*Intro contact*/

.contact-intro{
    padding: 24px;
    background: #FAFAF6;
    display: block;
}

.contact-intro .ci-copy h1{
    margin: 0 0 8px;
    color: #626F47;
}

.contact-intro .ci-copy p{
    margin: 0 0 12px;
}

.contact-intro .ci-details{
    margin: 0;
    padding-left: 18px;
}

.contact-intro .ci-details li{
    margin: 0;
    padding-left: 18px;
}

.contact-intro .ci-details a{
    color: #232A23;
    text-decoration: none;
}

.contact-intro .ci-details a:hover{
    text-decoration: underline;    
}

/* Form section */

.cf-section{
    padding: 24px 0 40px;
}

.cf-section .cf-fieldset{
    margin: 0;
    padding: 0;
    border: none;
}

.cf-section .cf-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.cf-section .cf-control{
    display: grid;
    gap: 6px;
}

.cf-section .cf-control label{
    font-weight: 700;
    color: #48553a;
}

.cf-section .cf-control input, 
.cf-section .cf-control select, 
.cf-section .cf-control textarea{
    width: 100%;
    border: 1px solid #E6E9DF;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 10px 12px;
    font-size: 1rem;
}

.cf-section .cf-control textarea{
    resize: vertical;
}

.cf-section .cf-hint{
    margin: 0;
    font-size: .9rem;
    color: #667066;
}

.cf-section .cf-check {
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 10px;
}

.cf-section .cf-check input {
    width: auto;
    margin-top: 4px;
}

.captcha-placeholder{
    height: 76px;
    border-radius: 10px;
    background: repeating-linear-gradient(45deg, #f1f1f1, #f1f1f1 10px, #e9e9e9 10px, #e9e9e9 20px);
    border: 1px dashed #E6E9DF;
    display: grid;
    place-items: center;
    color: #667066;
}

.cf-section .cf-actions{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 6px;
}

.cf-section .cf-footnote{
    display: block;
    margin-top: 6px;
    color: #667066;
}
/*================= FINISH CONTACT PAGE ============= */