/*================= START FOOTER============= */

.hdo-footer {
    background: #626F47;
    color: #f2f4ec;
}

/* 
I used ".hdo-footer .footer-container" to keep the style limited to the footer. 
This avoids conflicts if ".footer-container" appears in other parts of the site 
and makes the hierarchy clearer. 
*/
.hdo-footer .footer-container {
    width: 100%;
    margin-inline: auto;
    /* No space on top/bottom, but centered on the sides. */
    padding: 28px 16px;
}

/* The row organizes the footer content.
I use flexbox in column direction to keep everything centered vertically,
and gap to control the space between the groups. */
.hdo-footer .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* center all itens horizontally */
    gap: 18px;
    /* space between links and credits */
    text-align: center;
}

.hdo-footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 28px;
}

.hdo-footer .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hdo-footer .footer-links ul li {
    display: inline;
    margin: 0 10px;
}

.hdo-footer .footer-links ul li a {
    color: #EAEFE0;
    text-decoration: none;
    font-size: 16px;
}

.hdo-footer .footer-links ul li a:hover {
    color: #FFFFFF;
}

.hdo-footer .developer {
    font-size: 12px;
    color: #EAEFE0;
    line-height: 1.6;
    /*space bewtween lines*/
    letter-spacing: 1px;
    /*space between letters*/
}

/*================= FINISH STYLE THE FOOTER ============= */